
body
{
  width: auto;
  background-color:#F5F5F5;
  font-family: sans-serif;
}
#title
{
  text-align: center;
}
#StadTitle{
  font-size: 23px;
  text-align: center;
}
.statusbar
{
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  color: white;
  overflow: hidden;
  background-color: #2699FB;
}

#statusbarH
{
  list-style-type: none;
  margin: 0px;
  padding: 35.2px;
  color: white;
  overflow: hidden;
  background-color: #2699FB;
  float: right;
}
.status
{
  float: left;
  margin: 17px;
}
#navigation .status a
 {
   display: block;
   width: 120px;
   height: 45px;
   text-align: center;
   color: white;
   padding: 0px 0px;
   text-decoration: none;
   font-size: 16px;
}
.status a:hover
{
  background-color: #444444;
  height: 100%;
}
#Header{
  width: 100%;
  align: center;
}
#winkelenTitle{
font-size:16px;
}
.tietel{
  text-align: center;
  color: white;
  display: block;
  width:100%;
  font-size: 1.5em;
  background-color: #2699FB;
}
#maincontent{
  margin: 20px;
  margin-left: 12%;
  padding-right: 40px;
  font-family: sans-serif;
  padding: 30px;
  background-color: #FFFFFF;
  width: 75%;
  float: center;
  font-size: 14px;
}
#HaarlemHeader{
  text-align: center;
}
#secondairycontent{
  margin: 20px;
  margin-left: 12%;
  padding-right: 40px;
  font-family: sans-serif;
  padding: 30px;
  background-color: #FFFFFF;
  width: 75%;
  float: center;
  font-size: 14px;
}
#OudeStadHeader{
  text-align: center;
}
#sportcontent{
  margin: 20px;
  margin-bottom: 40px;
  margin-left: 12%;
  font-family: sans-serif;
  padding: 30px;
  background-color: #FFFFFF;
  width: 75%;
  float: center;
  font-size: 14px;
}
#sportHeader{
  text-align: center;
}
.fotos{
  list-style-type: none
}
#ulSport{
  position: relative;
  text-align: center;
}
#referalcontent{
  margin: 20px;
  margin-left: 12%;
  padding-right: 40px;
  font-family: sans-serif;
  padding: 30px;
  background-color: #FFFFFF;
  width: 75%;
  float: center;
}
#contactcontent{
}
#contactform{
  width: 50%;
  margin-left: 25%;
  font-family: sans-serif;
}
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  heigt: auto;
}
#WinkelenPar{
  float: left;
  width: 60%;
}
#photo2{
  width: 600px;
}
#kaart{
  width:350px;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
}
#Patronaat
{
  width: 350px;
  margin: 20px;
}
.sportfoto
{
  width: 200px;
  height: auto;
  margin: 5px;
}
#cookies
{
  backgroud-collor: lightgray;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
}
header
{
 text-align: left;
}
