body
{
  width: auto;
  background-color: #FFFFFF;
}
#fonts{
  font-family:  Arial, Verdana, sans-serif, Georgia;
}
#title
{
  text-align: center;
}
.StadTitle{
  font-size: 1.7em;
  text-align: center;
  text-decoration: overline;
}
.subtitelmain{
  font-size: 1.4em;
  text-decoration: underline;
}
.subtitleU{
  font-size: 1.4em;
  text-decoration: underline;
}
/* statusbar begin*/
.statusbar
{
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  color: white;
  overflow: hidden;
  background-color: #2699FB;
}
#statusbartitle{
  list-style-type: none;
  margin: 0px;
  padding: 27.5px;
  color: white;
  font-size: 2.4em;
  overflow: hidden;
  background-color: #2699FB;
  float: right;
  z-index: 3;
}
.status
{
  float: left;
  margin: 17px;
}
#navigation .status a
 {
   display: block;
   width: 120px;
   height: 45px;
   text-align: center;
   color: white;
   padding: 0px 0px;
   text-decoration: none;
   font-size: 16px;
}
.status a:hover
{
  background-color: #444444;
}
/* statusbar eind */

#Header{
  width: 40%;
}
#winkelenTitle{
font-size:1.4em;
text-decoration: overline;
margin-bottom: 0px;
margin-top: 30px;
}
.tietel{
  text-align: center;
  color: white;
  display: block;
  width: auto;
  font-size: 1.6em;
  background-color: #000000;
}
/* maincontent */

#maincontent{
  margin: 20px;
  margin-top: 0px;
  margin-left: 11%;
  padding-right: 40px;
  padding: 30px;
  background-color: #F5F5F5;
  border-radius: 1.1em;
  width: 75%;
  font-size: 14px;
}
#HaarlemHeader{
  text-align: center;
}
/* secondairy content */

#secondairycontent{
  margin: 20px;
  margin-left: 5%;
  padding-right: 40px;
  padding: 30px;
  background-color: #F5F5F5;
  width: 85%;
  font-size: 14px;
  border-radius: 1.1em;
}
#bezienswOudestad{
  margin: 50px;
}
#molensH{
  width: 60%;
}
#uitgOudestad{
  width: 65%;
  margin-left:5%;
}
#OudeStadHeader{
  text-align: center;
}
/* sport content */
#sportcontent{
  margin: 20px;
  margin-bottom: 40px;
  margin-left: 20%;
  padding: 30px;
  background-color: #F5F5F5;
  border-radius: 1.1em;
  width: 60%;

  font-size: 14px;
}
.tekstsport{
  text-align: left;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  padding: 20px;
  padding-left:0px;
}
#sportHeader{
  text-align: center;
  font-size: 14px;
}
.sportfoto
{
  width: 200px;
  height: auto;
  margin: 20px;
}
.fotos{
list-style-type: none
}
.fotos{
  display: block;
  width: 34%;
  background-color: #FFFFFF;
  border-radius: 1.1em;
}
.sportNaam{
  font-size: 1.4em;
  text-decoration: underline;
  margin-left: 5%;
  margin-bottom: 5px;
}
#MudoTitle{
  font-size:1.4em;
  text-decoration: overline;
}
#mudoText{
  width: 80%;
  margin-left: 10%;
 text-align: center;
}

/* referall content */
#referalcontent{
  margin: 20px;
  margin-left: 12%;
  padding-right: 40px;
  padding: 30px;
  background-color: #F5F5F5;
  border-radius: 1.1em;
  width: 75%;
  font-size:14px;
}
#referalHeader{
  text-align: center;
}
.referralbutton #areferralbutton{
  width: 20%;
  background-color: #2699FB;
  color: white;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  border-radius: 9px
}
.referralbutton{
  width: 20%;
  float: right;
  margin-top: 30px;
}
#referalPhoto{
 width: 38%;
 margin-top:30px;
 margin-left: 31%;
}

/* contact content */
#contactcontent{
  margin-left: 8%;
  background-color: #FFFFFF;
  width: 85%;
  font-size: 14px;
}
#bericht{
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #707070;
  border-radius: 4px;
  background-color: #F5F5F5;
  resize: none;
  margin: 20px;
  margin-top:0px;
}
#Email{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #707070;
  border-radius: 4px;
  background-color: #F5F5F5;
  resize: none;
  margin: 20px;
  margin-top:0px;
}
#achternaam{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #707070;
  border-radius: 4px;
  background-color: #F5F5F5;
  resize: none;
  margin: 20px;
  margin-top:0px;
}
#voornaam{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #707070;
  border-radius: 4px;
  background-color: #F5F5F5;
  resize: none;
  margin: 20px;
  margin-top:0px;
}
#contactform{
  width: 50%;
  margin-left: 25%;
}
#contactTitel{
  font-size: 1.8em;
}
/* rest */
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
#WinkelenPar{
  float: left;
  width: 60%;
}
#video{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#kaartA{
  width: 12%;   /* foto adriaan */
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  float: right;
}
#Patronaatfoto{
  width: 60%;
  margin-left: 5%;
}
#uitgaanfoto{
width: 20%;
margin-right: 7%;
float: right;
}
#cookies{
  z-index: 0;
  position: fixed;
  bottom: 0px;
  left:0;
  display:block;
  width: 100%;
  height: 4em;
  background-color: #444444;
  opacity: 0.7;
  font-size: 0.8em;
}
#eindfooter{
  width: 100%;
  height: 40px;
  background-color: #444444;
  text-align: center;
  color: white;
}
header
{
 text-align: left;
}
